---
import Layout from '~/layouts/PageLayout.astro';
import Contact from '~/components/widgets/Contact.astro';
import Timeline from '~/components/ui/Timeline.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';
import TeamMember from "~/components/widgets/TeamMember.astro";
import Content from '~/components/widgets/Content.astro';
import BgImagewithText from '~/components/common/BgImagewithText.astro';
import { YouTube } from 'astro-embed';

const metadata = {
  title: 'About us',
};
const formAction = "https://script.google.com/macros/s/AKfycbx6jhWcuNan0lfsR8JEIx0DwSEb8cqCIZPq4HYuE2RXqvPx-mjku3e2NCuE4SKXwPzK/exec"
const timelineItems = [
  {
    title: 'Nace QNTLC',
    description: 'En el 2014, ...',
    icon: 'tabler:rocket', // Changed icon to a rocket, representing the start of something (QNTLC)
    classes: {
      panel: 'bg-blue-50 dark:bg-blue-200 p-4 rounded-lg', // Light blue for light mode, and soft blue for dark mode
      title: 'text-blue-800 dark:text-blue-500', // Adjusted text color
      description: 'text-blue-600 dark:text-blue-400' // Adjusted text color
    }
  },
  {
    title: 'Nace la Orden San Elías 2016',
    description: 'En el 2016, ',
    //icon: 'tabler:church', // Changed to a church icon, reflecting the religious context
    classes: {
      panel: 'bg-green-50 dark:bg-green-200 p-4 rounded-lg', // Light green for light mode, and softer green for dark mode
      title: 'text-green-800 dark:text-green-500',
      description: 'text-green-600 dark:text-green-400'
    }
  },
  {
    title: 'Nace OGP en India',
    description: 'En el 2016,',
    icon: 'tabler:globe', // The globe icon still works here, representing international expansion
    classes: {
      panel: 'bg-yellow-50 dark:bg-yellow-200 p-4 rounded-lg', // Light yellow for light mode, soft yellow for dark mode
      title: 'text-yellow-800 dark:text-yellow-500',
      description: 'text-yellow-600 dark:text-yellow-400'
    }
  },
  {
    title: 'Nace FSA Fundación San Elías',
    description: 'En el 2020, .',
    icon: 'tabler:heart', // Changed to a heart icon, representing a foundation's love and mission
    classes: {
      panel: 'bg-pink-50 dark:bg-pink-200 p-4 rounded-lg', // Light pink for light mode, soft pink for dark mode
      title: 'text-pink-800 dark:text-pink-500',
      description: 'text-pink-600 dark:text-pink-400'
    }
  },
  {
    title: 'Nace FAE Familia Apostólica Eliata',
    description: 'En el 2020, ',
    icon: 'tabler:users', // Changed to a users icon, symbolizing the apostolic family/community
    classes: {
      panel: 'bg-indigo-50 dark:bg-indigo-200 p-4 rounded-lg', // Light indigo for light mode, softer indigo for dark mode
      title: 'text-indigo-800 dark:text-indigo-500',
      description: 'text-indigo-600 dark:text-indigo-400'
    }
  },
];

const teamMembers = [
  {
    name: 'Padre Federico Highton',
    role: 'Fundador y Director OGP',
    image: '/src/assets/images/Pdr.F.jpeg',
    socialLinks: {
      mail: 'https://www.linkedin.com/in/johndoe',
    },
  },
  {
    name: 'Karla Noguez',
    role: '',
    image: '/src/assets/images/Karla.jpeg',
    socialLinks: {
      mail: 'https://www.linkedin.com/in/janesmith',
    },
  },
  {
    name: 'Leonor Suaya de Highton',
    role: '',
    image: '/src/assets/images/SuayaH.jpeg',
    socialLinks: {
      mail: 'https://www.linkedin.com/in/markjohnson',
    },
  },
];
---

<!-- Feature: TOC  -->

<Layout metadata={metadata}>

  <YouTube id="SPGdJyvXMaI" />
  <style is:inline>
    lite-youtube {
      margin: 0 auto;
      max-width: 100%;
    }
  </style>


<!-- inline formating: <div style='text-align: left;'></div>; <strong>, <em>  bold&italic; <span style='color: blue;'></span> -color txt; <blockquote> and <cite></cite> -->

<Features2
  title="Anunciamos el Evangelio donde nunca antes fue escuchado"
  subtitle="<div style='text-align: left;'>El Omnes Gentes Project (OGP) es una misión global dedicada a llevar el Evangelio a las regiones más remotas, donde el mensaje de Cristo nunca ha llegado y donde no existen comunidades católicas.  <br/><br/>Enviamos misioneros con una única misión: ganar almas para Jesús y trabajar para vivir una vida de santidad. Nuestro propósito es cumplir con el mandato de Jesús de llevar el Evangelio a todos los pueblos, <br/><br/><blockquote>como se expresa en: </br><cite>'Id y anunciad el Evangelio a todos los pueblos (Omnes Gentes), bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo.'<br /> -Mt 28:19</blockquote></div>"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
 </Features2>


 <div class="space-y-8">
  <BgImagewithText
    backgroundImage="src/assets/images/fire.jpeg"
    bgSize="cover"
    bgOpacity="0.9"
    title="Nuestro Lema"
    description={`"Et praedicabitur hoc evangelium regni in universo orbe in testimonium omnibus gentibus; Et tunc veniet consummatio"`}
    description1={'"Y será predicado este Evangelio del reino en todo el mundo, para testimonio de todas las naciones, y entonces vendrá el fin." -Mt XXIV, 14'}
    />
</div>

<Content
  title="¿Qué es el Omnes Gentes Project?"
  subtitle=""
  isReversed
  items={[{ 
    title: '', 
    description: 'El Omnes Gentes Project es una iniciativa global que tiene como único objetivo realizar el primer anuncio del Evangelio en las regiones donde jamás se ha escuchado hablar de Cristo. Esta misión se realiza en colaboración con la Orden San Elías, y hemos llevado a cabo numerosas misiones en diversas partes del mundo, estableciendo comunidades de fe donde antes no existían. A través de estas misiones, buscamos cumplir el llamado de Jesús y llevar Su mensaje de esperanza y salvación.' },
  ]}
  image={{
    src: "~/assets/images/Fondo-Orden-San-Elias.jpg",
    alt: 'Colorful Image',
  }}
/>
<Content
  title=""
  subtitle=""
  isAfterContent
  items={
  [{ description: 'Nuestros misioneros viajan a tierras de misión para ganar almas para Jesucristo. En lugares donde nunca hubo presencia católica, los misioneros trabajan para compartir el Evangelio, fundar comunidades y preparar a las personas para una vida de santidad. Una de nuestras historias más impactantes ocurrió cuando, durante una expedición, un líder tribal escuchó el mensaje del Evangelio, se convirtió y, como signo de su fe, donó un terreno para la construcción de una iglesia católica. Hoy, ese terreno está destinado a ser la primera iglesia en esa aldea, y el proyecto sigue adelante con la esperanza de construir un lugar donde los nativos puedan adorar a Dios.' }
  ]}
  image={{
    src: "~/assets/images/Sacerdotes.jpg",
    alt: 'Colorful Image',
  }}
/>

  <!-- Timeline component usage -->
  <Timeline items={timelineItems} classes={{
    container: 'max-w-4xl mx-auto my-8 px-4',
    panel: 'bg-white shadow-lg',
    title: 'font-semibold text-2xl',
    description: 'text-base text-gray-700 dark:text-gray-400',
  }} />

<Content
  title="¿Qué Hacemos?"
  isReversed
  items={
  [{ title: 'Enviamos Misioneros:', description: 'Nuestros misioneros están comprometidos con la tarea de predicar el Evangelio donde más se necesita, buscando ganar almas para Cristo.', icon: 'tabler:rocket' },
   { title: 'Establecemos Iglesias:', description: 'En cada aldea a la que llegamos, buscamos establecer comunidades vivas y comprometidas con la fe católica.', icon: 'tabler:rocket' },
   { title: 'Formamos Cristianos:', description: 'No solo evangelizamos, sino que también trabajamos para formar y educar en la fe a los nuevos cristianos, ayudándolos a crecer espiritualmente.', icon: 'tabler:rocket' }
  ]  
  }
  image={{
    src: "~/assets/images/IMG_20240901_135236.jpg",
    alt: 'Colorful Image',
  }}
/>

  <!-- Stats Widget ****************** -->
  <Stats
   title="Datos 2024"
   subtitle=""
   stats={[
     { titleverb:`LLEGAMOS A`, amount: '7', title: 'PAISES' },
     { titleverb:'GRACIAS A', amount: '10K', title: 'BENEFACTORES' },
   ]}
  />

  <div class="space-y-8">
    <BgImagewithText
      backgroundImage="src/assets/images/Voluntario1.jpg"
      bgSize="110% 100%"
      bgOpacity="0.8"
      title="Nuestro Propósito"
      description1={` Solo tenemos una misión: Predicar y Ganar almas.`}
    />
  </div>

<YouTube id="mSyX2nDR6Sk" />
<style is:inline>
  lite-youtube {
    margin: 0 auto;
    max-width: 100%;
  }
</style>

<!-- TEAM -->
 <h1 class="text-4xl font-bold text-center mt-8 mb-4">Meet Our Team</h1>
 <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 px-4">
   {teamMembers.map(member => (
     <TeamMember
       name={member.name}
       role={member.role}
       image={member.image}
       socialLinks={member.socialLinks}
     />
   ))}
 </div>

 <form action={formAction} method="POST" class="contact-form">
  <Contact
    id="form"
    tagline="Contact"
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  />
  </form>

  <div class="space-y-8">
  <BgImagewithText
    backgroundImage="src/assets/images/apostles.jpeg"
    bgSize="contain"
    bgOpacity="0.7"
    description={`El Omnes Gentes Project sigue el mandato de Cristo, llevando el Evangelio a cada rincón del mundo, con el ferviente deseo de cumplir la misión de 'hacer discípulos de todas las naciones'.`}
    description1={'Con cada paso que damos, nuestra visión se hace más clara: evangelizar las áreas donde no se conoce a Cristo, transformando vidas y comunidades en la luz del Evangelio.'}
  />
</div>
</Layout>
    
<script>
  // Wait for the document to be ready
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('.contact-form');
    
    // Ensure the form exists before proceeding
    if (form && form instanceof HTMLFormElement) {
      form.addEventListener('submit', async (event) => {
        event.preventDefault(); // Prevent default form submission behavior
        
        const formData = new FormData(form); // Get form data
        const data = Object.fromEntries(formData.entries()); // Convert FormData to JSON
        
        // Send the form data to the Google Apps Script endpoint
        const response = await fetch(form.action, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data),
        });
        
        // Parse the response from the Google Apps Script
        const result = await response.json();
        
        // Show an alert based on the response
        if (result.result === 'Success') {
          alert('Thank you for your submission!');
        } else {
          alert('There was an error. Please try again later.');
        }
      });
    } else {
      console.error("Form element with class 'contact-form' not found.");
    }
  });
</script>



 