---
import Layout from '~/layouts/PageLayout.astro';

import TextOverlayImage from '~/components/widgets/TextOverlayImage.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import { getPermalink } from '~/utils/permalinks';
import SocialLinkSticker from '~/components/widgets/SocialLinkSticker.astro';

const image01 = {
  src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551710/IMG-2020_roosrv.jpg',
  alt: 'A beautiful landscape',
};
// const image02 = {
//   src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551634/newsletter_portada_snnxfr.jpg',
//   alt: 'A beautiful landscape',
// };
// const subscribe = {
//   formUrl: 'https://example.com/subscribe',
//   title: 'Subscribe to Our Newsletter',
//   text: 'Stay updated with the latest news and events.',
// };

const metadata = {
  title: 'Campaigns',
};
---

<Layout metadata={metadata}>
 
  <SocialLinkSticker />
  <TextOverlayImage
  image={image01}
  title="Proclaiming the Gospel to the Ends of the Earth: Bringing Hope to the Unreached and Persecuted"
  subtitle='Explore all our active charitable campaigns, crafted to meet the most pressing needs of our fellow believers. Thanks to your unwavering support, we fund over 5,000 projects annually across more than 130 countries, spreading the Gospel and serving as instruments of God’s love and mercy.'
  textPosition="middle"
  textBgOpacity={0.6}
  buttonText="DONATE"
  buttonLink="https://donorbox.org/omnesgentesproject"
  buttonVariant="primary"
  buttonIcon="tabler:heart-handshake"
/>

<!-- LatestCampaigns**************** -->
<Content
title="Latest Charitable Campaigns"
subtitle=""
isReversed
items={[
  {
    title: 'Description:',
    description:
      'En las remotas regiones de Malawi, como Wenya y Chitipa, la atención médica es un lujo inaccesible. Sin transporte ni recursos, los habitantes sufren de enfermedades contagiosas y caen en manos de hechiceros que empeoran su situación. En enero de 2022, comenzamos las "Misiones Médicas Extremas" para llevar atención médica directa a estas comunidades. Con casi 300 pacientes atendidos y un 80% de recuperación, nuestra misión sigue creciendo, ¡y esperamos llegar a más personas con el apoyo adecuado!',
  },
]}
image={{
  src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551801/Proyecto-extremeMM_sylhfo.jpg',
  alt: 'Tech Design Image',
}}
callToAction={{
  target: '_blank',
  text: 'Go to the project',
  icon: 'tabler:chevron-right',
  href: getPermalink('Campaigns_1', 'post'),
}}
>
<Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
    Project 1: <br /><span class="text-2xl">Sanando las Comunidades Más Aisladas de Malawi</span>
  </h3>
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>
<!-- **************** -->
<Content
isReversed
isAfterContent={true}
items={[
  {
    title: 'Description:',
    description:
      'En una remota aldea de Malawi, donde la fe en Cristo es desconocida, los habitantes claman por el Reino de Nuestro Señor. El Omnes Gentes Project ha llegado a esta región para plantar la Iglesia y llevar el Evangelio. Con la colaboración de fieles generosos, se prepara la primera entronización de Cristo Rey en Wenya, una misión histórica que reclama este territorio para Él. ¡Únete a nosotros en esta misión de esperanza y ayuda a llevar a Cristo a aquellos que más lo necesitan!',
  },
]}
image={{
  src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551864/WENYA_apapzx.jpg',
  alt: 'Art and Music Poster Image',
}}
callToAction={{
  target: '_blank',
  text: 'Go to the project',
  icon: 'tabler:chevron-right',
  href: getPermalink('Campaigns_2', 'post'),
}}
>
<Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
    Project 2: <br /><span class="text-2xl">WENYA, Entronización de Cristo Rey</span>
  </h3>
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>
<!-- **************** -->
<Content
isReversed
isAfterContent={true}
items={[
  {
    title: 'Description:',
    description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
  },
  {
    title: 'Role:',
    description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
  },
]}
image={{
  src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
  alt: 'Fashion e-commerce Image',
}}
callToAction={{
  target: '_blank',
  text: 'Go to the project',
  icon: 'tabler:chevron-right',
  href: '#',
}}
>
<Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
    Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
  </h3>
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>



<Content
    isReversed
    title='The Missionaries of the OGP: Proclaiming the Gospel to the Ends of the Earth'
    image={{
      src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551736/IMG_20240901_135236_ckqvab.jpg',
      alt: 'Features Image',
    }}
    items={[
      {
        description:
          'We are The Missionaries of the OGP, a bold and unwavering force dedicated to proclaiming the Gospel where it has never been heard before. Our mission is to reach the farthest corners of the world, where no Catholic soul has yet been touched by the light of Christ. We send forth courageous missionaries—men and women of faith—who are not only committed to winning souls but also to striving for sainthood in their own lives. Through their sacrifices, they bring the hope of salvation to those who have never known it.',
        icon: 'tabler:cross',
      },
    ]}
imageWidth={600} 
imageHeight={400}
  >
  </Content>
  <Content
    isAfterContent
    title='The Omnes Gentes Project: Bringing the First Announcement of the Gospel'
    image={{
      src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551671/20240810_141205_lxcv6u.jpg',
      alt: 'Benefits Image',
    }}
    items={[
      {
        description:
          'The Omnes Gentes Project is a groundbreaking initiative established to fulfill Christ’s Great Commission: “Go, therefore, and make disciples of all nations” (Matthew 28:19). We focus on regions where the Gospel has never been proclaimed, where the name of Jesus has yet to be spoken, and where the Church has not yet taken root. Our goal is to ensure that every person, in every corner of the world, has the opportunity to hear the Good News and encounter the love of Christ.',
        icon: 'tabler:cross',
      },
    ]}
  
imageWidth={600} 
imageHeight={400}
  >
  </Content>


<Features2
    title="Our Campaigns: Transforming Lives Through Faith and Action"
    subtitle="To achieve our mission, we rely on the generosity of faithful supporters like you. Your contributions enable us to carry out a wide range of initiatives that bring the Gospel to life in tangible ways. Below are the key areas where your donations can make a lasting impact:"
    columns={2}
    items={[
      {
        title: 'General Aid Campaigns',
        description:
          'Your support helps fund essential projects that address the most pressing needs in mission territories. These campaigns provide the foundation for evangelization and ensure that the Gospel can take root in even the most challenging environments.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Sustaining Missionaries',
        description:
          'Your donations help provide for the daily needs of priests, religious sisters, and lay missionaries who dedicate their lives to spreading the Gospel. From food and shelter to transportation and communication tools, your support ensures that they can focus on their mission without distraction.',
        icon: 'tabler:cross',
      },
      {
        title: 'Apostolic Tools',
        description: `We equip our missionaries with the resources they need to effectively proclaim the Gospel. Your contributions fund the production and distribution of Bibles, catechisms, and other materials that help new believers grow in their faith.`,
        icon: 'tabler:bible',
      },
      {
        title: 'Building and Restoring Churches',
        description:
          'In many mission territories, there are no churches where people can gather to worship. Your generosity helps us build new churches and restore existing ones, creating sacred spaces where communities can come together to celebrate the sacraments and deepen their relationship with God.',
        icon: 'tabler:building-church',
      },
    ]}
  />

  <Steps2
  title="Other Ways to Make Your Donation:"
  callToAction={{
    text: 'Contact us',
    href: '/',
  }}
  items={[
    {
      title: 'Via WhatsApp',
      description: '@example',
      icon: 'tabler:brand-whatsapp',
    },
    {
      title: 'Via Bank Transfer (please include your full name and ID number)',
      description: 'donation@omnesgentesproject',
      icon: 'tabler:building-bank',
    },

  ]}
  />

  <Content
isReversed
isAfterContent={true}
image={{
  src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551631/IMG_20230308_102945_gkt42c.jpg',
  alt: 'Fashion e-commerce Image',
}}
callToAction={{
  target: '_blank',
  text: 'MORE INFORMATION',
  icon: 'tabler:chevron-right',
  href: '#',
}}
imageWidth={600} 
imageHeight={500}
>
<Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
    Did you know your donations are up to 80% tax-deductible? <br/><br/><span class="text-1xl">By making a donation, you can claim this contribution as a deduction on your income tax return.</span>
  </h3>
</Fragment>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>


  <!-- <TextOverlayImage
  image={image02}
  textPosition="middle"
  textBgOpacity={0.6}
  subscribe={subscribe}
/> -->

</Layout>

<!-- 
  Gracias a tu ayuda en las campañas de ayuda podemos
llevar a cabo proyectos concretos como estos -->