---
import Layout from '~/layouts/PageLayout.astro';

import { getPermalink } from '~/utils/permalinks';
import TextOverlayImage from '~/components/widgets/TextOverlayImage.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import EventGallery from '~/components/widgets/EventGallery.astro'
import CampaignGallery from '~/components/widgets/CampaignGallery.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import SocialLinkSticker from '~/components/widgets/SocialLinkSticker.astro';

//NOTIFICATION CONTENT
const events = [
  {
    image: "https://cdn.pixabay.com/photo/2024/02/16/21/12/ai-generated-8578355_1280.png",
    title: "WE WERE MADE FOR THIS",
    subtitle: "We are called to shine Christ's light into the world's darkest places, and we will not stop until every soul knows His name.",
    link: "/about"
  },
  {
    image: "https://cdn.pixabay.com/photo/2024/11/05/03/11/ai-generated-9174901_960_720.png",
    title: "TO THE ENDS OF THE EARTH",
    subtitle: "We go where others won’t, fueled by the Holy Spirit to reach the unreached and love the unloved.",
    link: "/about"
  },
  {
    image: "https://cdn.pixabay.com/photo/2024/03/15/03/51/jesus-8634196_960_720.png",
    title: "NO RETREAT, NO SURRENDER",
    subtitle: "The battle for souls is fierce, but our resolve is unshakable; we fight for eternity, and we fight to win.",
    link: "/about"
  },
  {
    image: "https://res.cloudinary.com/dqk5ejjai/image/upload/v1736623031/voluntary09_nmaosl.jpg",
    title: "Become a Digital Missionary for OGP!",
    subtitle: "Join us in advancing the Gospel through the digital frontier.",
    link: "/getinvolved/voluntary"
  },
];

//Content component
const callToAction01 = {
  text: '<p3 class="text-2xl tracking-tight sm:text-1xl mb-2">LEARN MORE</p3>', 
  href: '/about#contact',     
  icon: 'tabler:cross',
};
const callToAction02 = {
  text: '<p3 class="text-2xl tracking-tight sm:text-1xl mb-2">LEARN MORE</p3>', 
  href: '/about#values',     
  icon: 'tabler:cross',
};

//Campaign Gallery
const Campaign = [
  {
    image: "https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551801/Proyecto-extremeMM_sylhfo.jpg",
    title: "Providing Medical Care to Malawi's Most Remote Communities",
    subtitle: "l every soul knows His name.",
    link: getPermalink('campaigns_1', 'post'), 
  },
  {
    image: "https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551864/WENYA_apapzx.jpg",
    title: "WENYA, Entronización de Cristo Rey",
    link: getPermalink('campaigns_2', 'post'), 
  },
  {
    image: "",
    title: "NO RETREAT, NO SURRENDER",
    subtitle: "The ity, and we fight to win.",
    link: getPermalink('Campaigns', 'category'), 
  }
];


/////////////////MissionsFor2025
const title = "Missions For 2025";
const content01 = `
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
    Project1:
  </h3>
  <p1 class="text-1xl tracking-tight dark:text-grey sm:text-3xl mb-2">
    Connect Us to learn more about our cause.
  </p1>
`;
const callToAction03 = {
  text: 'MORE INFO',
  href: '#',
  icon: 'tabler:map-check',
};
const image01 = "https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80";
const imageWidth01 = 700;
const imageHeight01 = 700;
const items01 = [
  {
    title: 'Description:',
    description: 'Developed a compih corporate clients and tech enthusiasts.',
  },
  {
    title: 'Location:',
    description: 'Led the ea assets.',
  },
];
//
const content02 = `
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
    Project2:
  </h3>
  <p1 class="text-1xl tracking-tight dark:text-grey sm:text-3xl mb-2">
    Connect Us to learn more about our cause.
  </p1>
`;
const callToAction04 = {
  text: 'MORE INFO',
  href: '#',
  icon: 'tabler:map-check',
};
const image02 = "https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80";
const imageWidth02 = 700;
const imageHeight02 = 700;
const items02 = [
  {
    title: 'Description:',
    description: 'Developed a compih corporate clients and tech enthusiasts.',
  },
  {
    title: 'Location:',
    description: 'Led the ea assets.',
  },
];
//
const content03 = `
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
    Project1:
  </h3>
  <p1 class="text-1xl tracking-tight dark:text-grey sm:text-3xl mb-2">
    Connect Us to learn more about our cause.
  </p1>
`;
const callToAction05 = {
  text: 'MORE INFO',
  href: '#',
  icon: 'tabler:map-check',
};
const image03 = "https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80";
const imageWidth03 = 700;
const imageHeight03 = 700;
const items03 = [
  {
    title: 'Description:',
    description: 'Developed a compih corporate clients and tech enthusiasts.',
  },
  {
    title: 'Location:',
    description: 'Led the ea assets.',
  },
];
////////////////////

const blogProps = {
  title: 'EXPLORE THE LATEST MISSIONS',
  linkText: 'View All',
  count: 4,
};


const image = {
  src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551623/IMG_1380_cpbvd9.jpg',
  alt: 'donation',
};

const metadata = {
  title: 'Omnes Gentes Project',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
<SocialLinkSticker />
  <!-- NOTIFICATION SECTION -->
  <EventGallery
  events={events}
  backgroundSize="1500px 900px"
  titleSize="3rem"
  subtitleSize="1.5rem"
  buttonStyle="background: #0047AB; color: #fff;"
/>

  <!-- <SocialLInksSticker /> -->
  
<Content
  title="BECOME A MISSIONARY"
  content='<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">FIND YOUR PLACE IN OUR FIGHT</h3><p1 class="text-1xl tracking-tight dark:text-grey sm:text-3xl mb-2">Connect Us to learn more about our cause.</p1>'
  callToAction={callToAction01}
  image="https://cdn.pixabay.com/photo/2024/05/30/07/07/archangel-8797957_1280.jpg"
  imageWidth={500} 
  imageHeight={500}
  isReversed
  isDark
/>
<Content
  content='<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">MISSIONARY VALUES</h5><p1 class="text-1xl tracking-tight dark:text-grey sm:text-3xl mb-2">See how our core values of honor, courage, and commitment fuel our fight and drive our will to win.</p1>'
  callToAction={callToAction02}
  image="https://cdn.pixabay.com/photo/2024/01/17/00/25/ai-generated-8513302_1280.png"
  imageWidth={500} 
  imageHeight={500}
  isAfterContent
  isDark
/>

<!-- Campaign Gallery -->
<CampaignGallery
  campaigns={Campaign}
  backgroundSize="1500px 700px"
  titleSize="3rem"
  subtitleSize="1.5rem"
  buttonStyle="background: #0047AB; color: #fff;"
/>


<!-- Yearly Mission Plan **************** -->
<Content
  title={title}
  content={content01}
  callToAction={callToAction03}
  image={image01}
  imageWidth={imageWidth01}
  imageHeight={imageHeight01}
  isReversed
  isDark
  items={items01}
/>
<Content
  content={content02}
  callToAction={callToAction04}
  image={image02}
  imageWidth={imageWidth02}
  imageHeight={imageHeight02}
  isAfterContent
  isDark
  items={items02}
/>
<Content
  content={content03}
  callToAction={callToAction05}
  image={image03}
  imageWidth={imageWidth03}
  imageHeight={imageHeight03}
  isReversed
  isDark
  items={items03}
/>

<!--**************** -->
<Testimonials
    title="TESTIMONIALS"
    testimonials={[
      {
        testimonial: `Participar en la misión de evangelización en Malawi nos transformó profundamente, llevándonos a vivir una experiencia de fe y humildad, donde compartimos la alegría del Evangelio y fuimos testigos de conversiones y bautismos en aldeas que nunca habían oído hablar de Jesús.`,
        name: 'Lan y Serge',
        image: {
          src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551822/testimonio_malawei_myiudz.jpg',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `Después de una juventud de excesos, mi conversión me llevó a fundar Dominus Estudios, una productora católica que busca evangelizar a través de la belleza y la creatividad, llevando el mensaje de Cristo a lugares inesperados y cambiando vidas con cada proyecto.`,
        name: 'Luis María Piccinali',
        image: {
          src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551665/02_vfjui1.jpg',
          alt: 'Luis María Piccinali',
        },
      },
      {
        testimonial: `Truth sets you free`,
        name: 'Xavi Z. Wong',
        image: {
          src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551822/testimonio_xzw_ze2xde.png',
          alt: 'X.Z.W.',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials',
      href: getPermalink('testimonials', 'category'),
      icon: 'tabler:chevron-right',
    }}
  />

  <BlogLatestPosts {...blogProps} />

  <!-- getPermalink('/Donation') -->
  <div class="space-y-3">
    <TextOverlayImage
  image={image}
  title="Ignite the Holy Fire Across the World"
  subtitle='Your donation fuels the Catholic Mission at the End of the World, bringing Christ’s light to the most faithful and underserved. Together, we can ignite hearts with the Gospel and strengthen the Lord’s work.'
  subtitle02='DONATE TODAY and be part of this divine mission!'
  description='"And the gospel must first be preached to all nations." – Mark 13:10'
  textPosition="middle"
  backgroundSize="cover"
  textBgOpacity={0.5}
  buttonText="Donate"
  buttonLink="https://donorbox.org/omnesgentesproject"
  buttonVariant="primary"
  buttonIcon="tabler:heart-handshake"
  />
  </div>

  <!--
    title="¡ÚNETE A NUESTRA MISIÓN Y CAMBIA VIDAS!"
    subtitle="Haz tu donación hoy y sé un instrumento de salvación.<br>Juntos, con los cinco panes y dos peces que nos da Dios, podemos seguir evangelizando y llevando la luz de Cristo a los lugares más necesitados.<br><b>¡Viva Cristo Rey!"
  /> -->

  <!-- <ToTopButton /> -->
</Layout>


<style>
  /* Use :global to target the component's internal elements */
  :global(.event-gallery .background-element) {
    background-size: 50% !important; /* Increase specificity and use !important */
  }
</style>

