---
import Layout from '~/layouts/PageLayout.astro';
import TextOverlayImage from '~/components/widgets/TextOverlayImage.astro';
import Hero from '~/components/widgets/Hero.astro';
import SocialLinkSticker from '~/components/widgets/SocialLinkSticker.astro';
import Podcast from '~/components/widgets/Podcast.astro';
import content from 'src/data/post/media.yaml';

const { metadata, images, subscribe, heroActions, sections } = content;
---

<Layout metadata={metadata}>
  <SocialLinkSticker />

  <!-- TextOverlayImage for OGP en Media -->
  <TextOverlayImage
    image={images.hero}
    title={sections.ogpMedia.title}
    textPosition={sections.ogpMedia.textPosition}
    textBgOpacity={sections.ogpMedia.textBgOpacity}
  />

  <!-- Podcast Section -->
  <Podcast />

  <!-- Hero Section for Daily Homily -->
  <Hero actions={[{ ...heroActions[0], href: 'https://www.youtube.com/playlist?list=PLHijFrLuJ3UzbCuWOK4-l8n1N4HerUjLW' }]}>
    <Fragment slot="title">{sections.dailyHomily.title}</Fragment>
    <Fragment slot="subtitle" set:html={sections.dailyHomily.subtitle} />
  </Hero>

  <!-- YouTube Embed -->
  <div class="media-container">
    <iframe
      width="100%"
      height="500"
      src={sections.dailyHomily.youtubeEmbed}
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <!-- Hero Section for Dai -->
  <Hero actions={[{ ...heroActions[0], href: 'https://odysee.com/@SoulSync:0?view=content' }]}>
    <Fragment slot="title">{sections.dai.title}</Fragment>
    <Fragment slot="subtitle" set:html={sections.dai.subtitle} />
  </Hero>

  <!-- Odysee Embed -->
  <div class="media-container">
    <iframe
      width="100%"
      height="500"
      src={sections.dai.odyseeEmbed}
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <!-- TextOverlayImage for Newsletter -->
  <TextOverlayImage
    image={images.newsletter}
    textPosition="middle"
    textBgOpacity={0.6}
    subscribe={subscribe}
  />
</Layout>